<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<header class="theme-main-header" style="background-color:rgba(19, 35, 47, 0.9); ">
		  <div class="container">
		  	<div class="row">
		    <a href="/" class="logo float-left tran4s"><h3 style="color: white;margin-top:5px;"><b>Xverify</b></h3></a>

		    <!-- ========================= Theme Feature Page Menu ======================= -->
		    <nav class="navbar float-right theme-main-menu one-page-menu">
		        <!-- Brand and toggle get grouped for better mobile display  -->
		       <div class="navbar-header" >
		         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		           <span class="sr-only">Toggle navigation</span>
		           Menu
		           <i class="fa fa-bars" aria-hidden="true"></i>
		         </button>
		       </div>
		       <!-- Collect the nav links, forms, and other content for toggling -->
		       <div class="collapse navbar-collapse" id="navbar-collapse-1">
		         <ul class="nav navbar-nav">

		        <% if (!user) { %>

		        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" >Login</a>
		          <ul class="dropdown-menu" style="background-color: #000">

		            <li><a href="/login">Login</a></li>
		          </ul>
		        </li>

		       <% } else { %>
             
		        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding:10px;" ><%= user.Branch_name %></a>
		          <ul class="dropdown-menu" style="background-color: #000">

		            <li><a href="/logout">Logout</a></li>
		          </ul>
		        </li>
		        <% } %>


		            </ul>

		         </ul>
		       </div>
		    </nav>
		  </div>
		</header>

<style>
	div.hr-line{
		border:1px solid #2874A6;
		margin-left:7.5%;
		margin-right:7.5%;
	}
</style>
</head>
<br><br><br><br>
<body style="background-color: #F5F5F5;color:#2874A6;">
  <% forms.forEach(function(form){ %>
    <%- include(form);%>  <div class="hr-line"></div>
  <% }); %>
<br><br>
<center><a href="/views" id="viewDashboard">
    <button class="btn btn-primary btn-md" id="viewDashboard-btn" disabled="disabled" style="margin-left: 20px;"> View Dashboard </button>
  </a></center>
<script>
          (function ($) {
            $("#viewDashboard").on('click', function (e) {
              e.preventDefault();
              var hidden = 0;
              const forms = $('form')
              forms.each(function (i, element) {
                if ($(element).is(':hidden')) {
                  hidden = hidden + 1;
                }
              });

              if(forms.length === hidden) {
                window.location.href = $(this).attr('href');
              }

            });
          })(jQuery)
        </script>

</body>

</html>
