<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!-- Javascript -->
      <script>
         $(function() {
            $( "#datepicker-5" ).datepicker({
              dateFormat: 'dd-mm-yy',
               changeMonth: true,
      changeYear: true,
      yearRange: '1900:2050',
            });
         });
      </script>

        <style>
        .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {

    color: #000000;
}
      </style>
</head>
<body>

<div class="container">

<form action="" id = "driver1" method="post">
  <center><img src="images/ajax-loader.gif" width="100px;" height="100px;" id="loading3" style="display: none;"></center>
<div class="table-responsive">


    <h3> Driving Liscence Details</h3>
    <table class="table table-bordered table-striped table-highlight">
    	<thead>
    		<tr>
          <th>Liscence Image</th>
          <th></th>
    			<th>Liscence Number:</th>
    			<th>D.O.B:</th>
    		</tr>
    	</thead>

    	<tbody>
    		<tr>
          <td><input type="file" name="liscenceimage" class="form-control"></td>
          <td>OR</td>
    			<td><input type="text" class="form-control" name="dl"   /></td>
    			<td>Date: <input type="text" id = "datepicker-5" name="dobdl" /></td>
    		</tr>
    	</tbody>
    </table>



	</div>

	<center><button type="submit"  class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button></center>

</form>
<div class = "new_3" style= "display:none">Your Details Have been succesfully submitted</div>
</div>


</body>
<script src="./js/jquery.noty.packaged.min.js"></script>
<script>
	function generate(type, text) {
		var n =  noty({
			text: text,
			type: type,
			dismissQueue: true,
			layout: 'topRight',
			closeWith: ['click'],
			theme: 'relax',
			maxVisible: 10,
			animation: {
				open: 'animated bounceInRight',
				close: 'animated bounceOutRight',
				easing: 'swing',
				speed: 500
			}
		});
	}
	$("#driver1").on('submit', function (e) {
		e.preventDefault();
		$('#loading3').show();
		$.ajax({
			type: "POST",
			url: '/index3',
			data: $('form').serialize(),
			success: function (data) {
				console.log(data)
				var messageDiv =
					'<div class="activity-item"> <i class="fa fa-check text-success"></i><div class="activity">Success</div> </div>';
				generate("success", messageDiv);
				$("#driver1").hide();
				$(".new_3").show();
				var hidden = 0;
				const forms = $('form')
				forms.each(function (i, element) {
					if ($(element).is(':hidden')) {
						hidden = hidden + 1;
					}
				});

				if (forms.length === hidden) {
					$('#viewDashboard-btn').removeAttr('disabled');
				}
			},
			error: function (jqXHR, exception) {
				var errorObj = JSON.parse(jqXHR.responseText);
				if (!errorObj.process) {
					$("#driver1").hide();
				}
				var messageDiv = '<div class="activity-item"><div class="activity">' +
					errorObj.message + '</div> </div>';
				generate("error", messageDiv);
			},
			complete: function () {
				$('#loading3').hide();
			}
		});
	});
</script>
</html>
