<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<form action="" id="gsttauth" method="post">
  <center><img src="images/ajax-loader.gif" width="100px;" height="100px;" id="loading15" style="display: none;"></center>
<div class="table-responsive">


    <h3>GST Identification</h3>
    <table class="table table-bordered table-striped table-highlight">
      <thead>
        <tr>
          <th>TIN / PAN / Service Tax Assessee Code</th>
          <th>State</th>

        </tr>
      </thead>

      <tbody>
        <tr>
          <td><input type="text" class="form-control" name="gsttin" /></td>
          <!-- <td><input type="text" class="form-control" name="gstin" /></td> -->
<td><select class="form-control ng-touched ng-dirty ng-invalid" name="gststate">
                      <!----><option value="">None</option>
                      <option value="AN">Andaman and Nicobar Islands</option>
                      <option value="AP">Andhra Pradesh</option>
                      <option value="AD">Andhra Pradesh (New)</option>
                      <option value="AR">Arunachal Pradesh</option>
                      <option value="AS">Assam</option>
                      <option value="BH">Bihar</option>
                      <option value="CH">Chandigarh</option>
                      <option value="CT">Chattisgarh</option>
                      <option value="DN">Dadra and Nagar Haveli</option>
                      <option value="DD">Daman and Diu</option>
                      <option value="DL">Delhi</option>
                      <option value="GA">Goa</option>
                      <option value="GJ">Gujarat</option>
                      <option value="HR">Haryana</option>
                      <option value="HP">Himachal Pradesh</option>
                      <option value="JK">Jammu and Kashmir</option>
                      <option value="JH">Jharkhand</option>
                      <option value="KA">Karnataka</option>
                      <option value="KL">Kerala</option>
                      <option value="LD">Lakshadweep Islands</option>
                      <option value="MP">Madhya Pradesh</option>
                      <option value="MH">Maharashtra</option>
                      <option value="MN">Manipur</option>
                      <option value="ME">Meghalaya</option>
                      <option value="MI">Mizoram</option>
                      <option value="NL">Nagaland</option>
                      <option value="OR">Odisha</option>
                      <option value="PY">Pondicherry</option>
                      <option value="PB">Punjab</option>
                      <option value="RJ">Rajasthan</option>
                      <option value="SK">Sikkim</option>
                      <option value="TN">Tamil Nadu</option>
                      <option value="TS">Telangana</option>
                      <option value="TR">Tripura</option>
                      <option value="UP">Uttar Pradesh</option>
                      <option value="UK">Uttarakhand</option>
                      <option value="WB">West Bengal</option>
                    </select></td>
        </tr>
      </tbody>
    </table>



  </div>

  <center><button type="submit"  class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button></center>

</form>
<div class = "new_15" style= "display:none">Your Details Have been succesfully submitted</div>
</div>


</body>
<script src="./js/jquery.noty.packaged.min.js"></script>
<script>
  function generate(type, text) {
    var n =  noty({
      text: text,
      type: type,
      dismissQueue: true,
      layout: 'topRight',
      closeWith: ['click'],
      theme: 'relax',
      maxVisible: 10,
      animation: {
        open: 'animated bounceInRight',
        close: 'animated bounceOutRight',
        easing: 'swing',
        speed: 500
      }
    });
  }
  $("#gsttauth").on('submit', function (e) {
    e.preventDefault();
    $('#loading15').show();
    $.ajax({
      type: "POST",
      url: '/index15',
      data: $('form').serialize(),
      success: function (data) {
        console.log(data)
        var messageDiv =
          '<div class="activity-item"> <i class="fa fa-check text-success"></i><div class="activity">Success</div> </div>';
        generate("success", messageDiv);
        $("#gsttauth").hide();
        $(".new_15").show();
        var hidden = 0;
        const forms = $('form')
        forms.each(function (i, element) {
          if ($(element).is(':hidden')) {
            hidden = hidden + 1;
          }
        });

        if (forms.length === hidden) {
          $('#viewDashboard-btn').removeAttr('disabled');
        }
      },
      error: function (jqXHR, exception) {
        var errorObj = JSON.parse(jqXHR.responseText);
        if (!errorObj.process) {
          $("#gsttauth").hide();
        }
        var messageDiv = '<div class="activity-item"><div class="activity">' +
          errorObj.message + '</div> </div>';
        generate("error", messageDiv);
      },
      complete: function () {
        $('#loading15').hide();
      }
    });
  });
</script>
</html>
