<!DOCTYPE html>
<html>
<head>
   <title>Form</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<form action="" id="adhaar1" method="post">
  <center><img src="images/ajax-loader.gif" width="100px;" height="100px;" id="loading2" style="display: none;"></center>
<div class="table-responsive">

      <h3> Adhaar Card Details</h3>
      <table class="table table-bordered table-striped table-highlight">
         <thead>
            <th>Upload Adhaar Card:</th>
            <th></th>
            <th>Enter Adhaar Number:</th>
         </thead>

         <tbody>
            <tr>
               <td><input type="file" class="form-control"  name="adhaarimg" /></td>
               <td>OR</td>
               <td><input type="number" class="form-control" name="adhaarid" /></td>
            </tr>
         </tbody>

         <thead>

            <tr>
               <th>Name of person:</th>

            </tr>
         </thead>

         <tbody>
            <tr>
               <td><input type="text" class="form-control" name="adhaarname" /></td>

            </tr>
         </tbody>


    </table>




   </div>

   <center><button type="submit"  class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button></center>

</form>
<div class = "new_2" style= "display:none">Your Details Have been succesfully submitted</div>
</div>


</body>
<script>
  $("#adhaar1").on('submit',function(e){
		e.preventDefault();
		console.log('HI')
    $('#loading2').show();
    $.ajax({
			type: "POST",
			url:'/index2',
			data: $('form').serialize(),
			success: function(data){
        console.log(data);
				if(data.message ==='Wrong Input'){
					alert('Invalid Input ,PLEASE GIVE A CORRECT INPUT');
				}else if(data.message ==='Something is wrong'){
					alert('SOMETHING WENT WRONG PLEASE TRY AGAIN LATTER');
				}else if(data.message ==='Status 103'){
				 alert('Invalid Input ,PLEASE GIVE A CORRECT INPUT');
			 }else if(data.message ==='Status 504'){
				alert('GateWay Timed Out');
				}else if(data.message ==='Internal Server Error'){
 					alert('Internal Server Error');
 				}else if(data.message ==='Service Unavailable'){
 					alert('Service Unavailable');
 				}else{
				 $("#adhaar1").hide();
          $(".new_1").show();
			 }

			 },
    complete: function(){
        $('#loading2').hide();
      }
		});
  })
</script>
</html>
