<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<form action="" id="form16auth" method="post">
	<center><img src="images/ajax-loader.gif" width="100px;" height="100px;" id="loading30" style="display: none;"></center>
<div class="table-responsive">
	<h3> Form 16 Authentication</h3>
    <table class="table table-bordered table-striped table-highlight">
      	<thead>
        	<th>Enter your TAN no:</th>
        	<th>Enter your PAN no:</th>
        	<th>Enter Certificate no:</th>
          <th>Total amount of TDS deducted:</th>
          <th>Fiscal year:</th>
     	</thead>

     	<tbody>
        	<tr>
          		<td><input type="text" class="form-control" name="f16tan" /></td>
          		<td><input type="text" class="form-control" name="f16pan" /></td>
         		 <td><input type="text" class="form-control" name="f16cer" /></td>
             <td><input type="text" class="form-control" name="f16tds" /></td>
             <td><input type="text" class="form-control" name="fiscalf16" /></td>
        	</tr>
     	</tbody>
	</table>



	</div>

	<center><button type="submit" action="" method="post" class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button></center>

</form>
<div class = "new_30" style= "display:none">Your Details Have been succesfully submitted</div>
</div>


</body>
<script src="./js/jquery.noty.packaged.min.js"></script>
<script>
	function generate(type, text) {
		var n =  noty({
			text: text,
			type: type,
			dismissQueue: true,
			layout: 'topRight',
			closeWith: ['click'],
			theme: 'relax',
			maxVisible: 10,
			animation: {
				open: 'animated bounceInRight',
				close: 'animated bounceOutRight',
				easing: 'swing',
				speed: 500
			}
		});
	}
	$("#form16auth").on('submit', function (e) {
		e.preventDefault();
		$('#loading30').show();
		$.ajax({
			type: "POST",
			url: '/index30',
			data: $('form').serialize(),
			success: function (data) {
				console.log(data)
				var messageDiv =
					'<div class="activity-item"> <i class="fa fa-check text-success"></i><div class="activity">Success</div> </div>';
				generate("success", messageDiv);
				$("#form16auth").hide();
				$(".new_30").show();
				var hidden = 0;
				const forms = $('form')
				forms.each(function (i, element) {
					if ($(element).is(':hidden')) {
						hidden = hidden + 1;
					}
				});

				if (forms.length === hidden) {
					$('#viewDashboard-btn').removeAttr('disabled');
				}
			},
			error: function (jqXHR, exception) {
				var errorObj = JSON.parse(jqXHR.responseText);
				if (!errorObj.process) {
					$("#form16auth").hide();
				}
				var messageDiv = '<div class="activity-item"><div class="activity">' +
					errorObj.message + '</div> </div>';
				generate("error", messageDiv);
			},
			complete: function () {
				$('#loading30').hide();
			}
		});
	});
</script>
</html>
