<!DOCTYPE html>
<html>

<head>
	<title>Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<form action="" id="pan1" method="post">
			<center>
				<img src="images/ajax-loader.gif" id="loading1" width="50px;" height="50px;" style="display: none;">
			</center>
			<div class="table-responsive">
				<h3>PAN Card Details</h3>
				<table class="table table-bordered table-striped table-highlight">
					<thead>
						<th>Upload PAN</th>
						<th></th>
						<th>Enter PAN Card Number:</th>
					</thead>

					<tbody>
						<tr>
							<td>
								<input type="file" class="form-control" name="pan-img" />
							</td>
							<td>OR</td>
							<td>
								<input type="text" class="form-control" name="pan" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<center><button type="submit" class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button></center>
		</form>
		<div class="new_1" style="display:none">
			YOUR DATA HAS BEEN SUBMITTED SUCCESSFULLY
		</div>
	</div>
	<script src="./js/jquery.noty.packaged.min.js"></script>
	<script>
		function generate(type, text) {
			var n =  noty({
				text: text,
				type: type,
				dismissQueue: true,
				layout: 'topRight',
				closeWith: ['click'],
				theme: 'relax',
				maxVisible: 10,
				animation: {
					open: 'animated bounceInRight',
					close: 'animated bounceOutRight',
					easing: 'swing',
					speed: 500
				}
			});
		}
		$("#pan1").on('submit', function (e) {
			e.preventDefault();
			$('#loading1').show();
			$.ajax({
				type: "POST",
				url: '/index1',
				data: $('form').serialize(),
				success: function (data) {
					var messageDiv =
						'<div class="activity-item"> <i class="fa fa-check text-success"></i><div class="activity">Success</div> </div>';
					generate("success", messageDiv);
					$("#pan1").hide();
					$(".new_1").show();
					var hidden = 0;
					const forms = $('form')
					forms.each(function (i, element) {
						if ($(element).is(':hidden')) {
							hidden = hidden + 1;
						}
					});

					if (forms.length === hidden) {
						$('#viewDashboard-btn').removeAttr('disabled');
					}
				},
				error: function (jqXHR, exception) {
					var errorObj = JSON.parse(jqXHR.responseText);
					console.log(errorObj)
					// $("#pan1").hide();
					console.log(errorObj.process);
					if (!errorObj.process) {

						$("#pan1").hide();
					}
					var messageDiv = '<div class="activity-item"><div class="activity">' +
						errorObj.message + '</div> </div>';
					generate("error", messageDiv);
				},
				complete: function () {
					$('#loading1').hide();
				}
			});
		});
	</script>
</body>

</html>
