<!DOCTYPE html>
	<head>
		<title> Verify OTP </title>

		<!-- Including bootstrap v3.3.7 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

		<!-- Including Custom css -->
		<link rel="stylesheet" type="text/css" href="/css1/style.css">

	</head>
	<body style="background-color:#be3a47;">
		<br>
		<br>
		<br>
    <div class="list-group"style="background-color:#be3a47;" >
  <span  class ="list-group-item" style="background-color:#be3a47;">
    <div class="row" style="background-color:#be3a47;">
		<div class="container" >




				<div class="col-md-6 main">
					<!-- Form Tag starts here -->
					<!-- Action attribute is the route on backend. Method is POST -->
					<form action ="/indexotp " method="post">
            
						<h1> Verification </h1>
						<input type="text" name="otpindex"/>
						<button type="submit" name= "submit" class="btn btn-primary btn-md" style="background-color: rgba(19, 35, 47, 0.9); border-color: rgba(19, 35, 47, 0.9);" >Submit</button>
          </form>
</div>
</div>
</div>
</span>
</div>


	</body>
</html>
