<form action="/index50" method="post">

<td><input type="text" class="form-control" name="adhaarid" value="JH01CK3700" /></td>
<button type="submit" action="" method="post" class="btn" name="Submit" style="margin-bottom: 20px;">Submit Form</button>
</form>
