<!DOCTYPE html>
<html>
<head>
	<title>Error !</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="margin-top:200px;">
		<center><h3>Something went wrong.Please login to continue.</h3></center>
		<center><a href="/login"><button type="button" class="btn btn-primary">Back to login</button></a></center>
	</div>
</body>
</html>