<!-- <!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
     .col-sm-3{
      margin: 15px 15px;
     }
   </style>

</head>
<body>


<form  method="post" >
	<div class="container" style="margin: 20px;">
		<div class="row" >
			<div class="col-sm-3 " style="border: 2px solid grey;  display :none;">
				<input type="checkbox" name="pancheck" id="pan">
				<label for="pan" style="margin-left: 10px;">PAN</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey ; display :none;">
				<input type="checkbox" name="adhaarcheck" id="adhaar">
				<label for="adhaar" style="margin-left: 10px;">Adhaar</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="drivingcheck" id="driving">
				<label for="driving" style="margin-left: 10px;">Driving Liscence</label>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="voteridcheck" id="voterid">
				<label for="voterid" style="margin-left: 10px;">Voterid</label>
			</div>


			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="NREGAcheck" id="NREGA">
				<label for="NREGA" style="margin-left: 10px;">NREGA Authentication</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="passportcheck" id="passport">
				<label for="passport" style="margin-left: 10px;">Passport Authentication</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="TANcheck" id="TAN">
				<label for="TAN" style="margin-left: 10px;">TAN Authentication</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="MCAcheck" id="MCA">
				<label for="MCA" style="margin-left: 10px;">MCA Signatories</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="companysearch" id="company">
				<label for="comapny" style="margin-left: 10px;">Company Search by Name</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="eiccheck" id="eic">
				<label for="eic" style="margin-left: 10px;">(IEC) Authentication</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="LLPcheck" id="LLP">
				<label for="LLP" style="margin-left: 10px;">Company/LLP CIN Lookup</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="CINcheck" id="CIN">
				<label for="CIN" style="margin-left: 10px;">CIN</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="udyog" id="udyog">
				<label for="udyog" style="margin-left: 10px;">Udyog Adhaar No.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="GSTcheck" id="GST">
				<label for="GST" style="margin-left: 10px;">GST Identification</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="GStAuth" id="GStAuth">
				<label for="GStAuth" style="margin-left: 10px;">GST Authentication</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="sne" id="sne">
				<label for="sne" style="margin-left: 10px;">Shop & Establishment</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="fssai" id="fssai">
				<label for="fssai" style="margin-left: 10px;">FSSAI Lisc. Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="fdaauth" id="fdaauth">
				<label for="fdaauth" style="margin-left: 10px;">FDA Authentication</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="caauth" id="caauth">
				<label for="caauth" style="margin-left: 10px;">CA membership Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="icsi" id="icsi">
				<label for="icsi" style="margin-left: 10px;">ICSI Membership</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="icwai" id="icwai">
				<label for="icwai" style="margin-left: 10px;">ICWAI membarship Auth.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="icwaifirm" id="icwaifirm">
				<label for="icwaifirm" style="margin-left: 10px;">ICWAI firm Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="pngauth" id="pngauth">
				<label for="pngauth" style="margin-left: 10px;">PNG Authentication.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="elecauth" id="elecauth">
				<label for="elecauth" style="margin-left: 10px;">Electricity Bill Auth.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="telauth" id="telauth">
				<label for="telauth" style="margin-left: 10px;">Telephone Bill Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="lpg" id="lpg">
				<label for="lpg" style="margin-left: 10px;">LPG ID Auth</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="epfauth" id="epfauth">
				<label for="epfauth" style="margin-left: 10px;">EPF Authentication</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="epfuan" id="epfuan">
				<label for="epfuan" style="margin-left: 10px;">EPF UAN Lookup</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="emplookup" id="emplookup">
				<label for="emplookup" style="margin-left: 10px;">Employer Lookup</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="esicidauth" id="esicidauth">
				<label for="esicidauth" style="margin-left: 10px;">ESIC ID Auth.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="form16" id="form16">
				<label for="form16" style="margin-left: 10px;">Form 16 Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="form16quarterly" id="form16quarterly">
				<label for="emplookup" style="margin-left: 10px;">Form 16 Quarterly</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="itrauth" id="itrauth">
				<label for="itrauth" style="margin-left: 10px;">ITR Auth.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="addmatch" id="addmatch">
				<label for="epfuan" style="margin-left: 10px;">Address Matching</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="emailauth" id="emailauth">
				<label for="emailauth" style="margin-left: 10px;">Email Authentication</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="namesimilarity" id="namesimilarity">
				<label for="namesimilarity" style="margin-left: 10px;">Name Similarity</label>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="ifsc" id="ifsc">
				<label for="ifsc" style="margin-left: 10px;">IFSC code check</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="bankverification" id="bankverification">
				<label for="bankverification" style="margin-left: 10px;">Bank Account Verification</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="hsncode" id="hsncode">
				<label for="hsncode" style="margin-left: 10px;">HSN Code Check</label>
			</div>
		</div>

				<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="facematch" id="facematch">
				<label for="facematch" style="margin-left: 10px;">Face Matching</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="webauth" id="webauth">
				<label for="webauth" style="margin-left: 10px;">Website Domain Auth.</label>
			</div>

			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="vehicalauth" id="vehicalauth">
				<label for="vehicalauth" style="margin-left: 10px;">Vehicle RC Auth.</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3" style="border: 2px solid grey">
				<input type="checkbox" name="vehicalsearch" id="vehicalsearch">
				<label for="vehicalsearch" style="margin-left: 10px;">Vehical RC search</label>
			</div>
		</div>


		<input type="submit" name="submit">
	</div>

</form>
<script>

var list = <%=result %>
 for(i=0; i<list.length; i++){
   var x= document.getElementsByName("list[i]");
   x.style.display = "block";
 })

</script>

</body>
</html> -->
